<header>
    <nav class="header-nav">
        <a class="header-title" href="/">MMusings</a>
        <ul>
            <li ><a href="/english">english Lessons</a></li>
            <li ><a href="/games">games</a></li>
        </ul>
    </nav>
</header>