:root{
    --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;
    --color-text-nav: cornsilk;
    --color-text-nav2: darkblue;
    --weight-text-nav: bolder;
    --header-bgd:   darkblue;
}

.footer{
   /* background: var(--header-bgd);*/
    padding: 2em;
    margin-top: 2em;
    max-width: 100%;
}

.footer .container{
    display: flex;
        color: var(--color-text-nav2);
    
}
.footer .container a{
    color: var(--color-text-nav);
}