<h1 class="title flex">
    creation English Lesson
</h1>

<div class="wordSearch mb-10">
    <h2 class="vocab flex">creation Vocabulary</h2>
    <div class="letterInput flex mb-10">
        <button type="submit" class="btna">a</button>
        <button type="submit" class="btnb">b</button>
        <button type="submit" class="btnc">c</button>
        <button type="submit" class="btnd">d</button>
        <button type="submit" class="btne">e</button>
        <button type="submit" class="btnf">f</button>
        <button type="submit" class="btng">g</button>
        <button type="submit" class="btnh">h</button>
        <button type="submit" class="btni">i</button>
        <button type="submit" class="btnj">j</button>
        <button type="submit" class="btnk">k</button>
        <button type="submit" class="btnl">l</button>
        <button type="submit" class="btnm">m</button>
        <button type="submit" class="btnn">n</button>
        <button type="submit" class="btno">o</button>
        <button type="submit" class="btnp">p</button>
        <button type="submit" class="btnq">q</button>
        <button type="submit" class="btnr">r</button>
        <button type="submit" class="btns">s</button>
        <button type="submit" class="btnt">t</button>
        <button type="submit" class="btnu">u</button>
        <button type="submit" class="btnv">v</button>
        <button type="submit" class="btnw">w</button>
        <button type="submit" class="btnx">x</button>
        <button type="submit" class="btny">y</button>
        <button type="submit" class="btnz">z</button>
    </div>
    <div class="letter mt-10">
        
        
        <div class="tile l" >
           
            </div>
        <div class="tile i" ></div>
        <div class="tile g"></div>
        <div class="tile h"></div>
        <div class="tile t"></div>
        <div class="tile d"></div>
        <div class="tile a"></div>
        <div class="tile y"></div>
        <div class="tile"></div>
        <div class="tile"></div>
        <div class="tile f"></div>
        <div class="tile i"></div>
        <div class="tile s"></div>
        <div class="tile h"></div>
        <div class="tile"></div>
        <div class="tile b"></div>
        <div class="tile i"></div>
        <div class="tile r"></div>
        <div class="tile d"></div>
        <div class="tile"></div>
        <div class="tile h"></div>
        <div class="tile u"></div>
        <div class="tile m"></div>
        <div class="tile a"></div>
        <div class="tile n"></div>
        <div class="tile l"></div>
        <div class="tile a"></div>
        <div class="tile n"></div>
        <div class="tile d"></div>
        <div class="tile"></div>
    </div>
</div>

<h2 class="vocab flex mt-10">creation Order</h2>
<div class="order flex mb-10 mt-10">
    
    <div class="ordinal">first = <input type="text" id="inputOrder"></div>
    <div class="ordinal">Second = <input type="text" id="inputOrder"></div>
    <div class="ordinal">third = <input type="text" id="inputOrder"></div>
    <div class="ordinal"><input type="text" id="inputOrder"> = 4th</div>
    <div class="ordinal"><input type="text" id="inputOrder"> = 5th</div>
    <div class="ordinal"><input type="text" id="inputOrder"> = 6th</div>
    <div class="ordinal"><input type="text" id="inputOrder"> = 7th</div>

</div>

<h2 class="vocab flex mt-10">creation Video</h2>
<div class="video flex mb-10">
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/teu7BCZTgDs?si=NclMf2_7dKL83Ls9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>


<div class="wrkSheet1 flex mt-10">
<img src="../images/creation.png" alt="creation">
</div>


<script src="../js/creation.js"></script>