<div class="title">
    Getting To Know You Questions
</div>

<div class="wrapper">
    
    <div class="question-container">
        <div class="question">
            <textarea name="question" id="question"></textarea>
        </div>
        <button type="submit" class="question-btn">New question</button>
    </div>
</div>

<script src="../js/gettingToKnowYou.js"></script>