<div class="wrapper">
<ul class="cards">
    
   
    
   
    <li class="card">
        <div class="view front-view" id="text">
            <ion-icon name="help-outline"></ion-icon>
        </div>
        <div class="view back-view" id="text">
            <h3>CAT</h3>
        </div>
    </li>
    <li class="card">
        <div class="view front-view" id="text">
            <ion-icon name="help-outline"></ion-icon>
        </div>
        <div class="view back-view">
            <img src="../images/animals/cat-85.png" alt="cardimg">
        </div>
    </li>
    <li class="card">
        <div class="view front-view" id="text">
            <ion-icon name="help-outline"></ion-icon>
        </div>
        <div class="view back-view" id="text">
            <h3>CAT</h3>
        </div>
    </li>
    <li class="card">
        <div class="view front-view" id="text">
            <ion-icon name="help-outline"></ion-icon>
        </div>
        <div class="view back-view">
            <img src="../images/animals/cat-85.png" alt="cardimg">
        </div>
    </li>
    <li class="card">
        <div class="view front-view" id="text">
            <ion-icon name="help-outline"></ion-icon>
        </div>
        <div class="view back-view" id="text">
            <h3>CAT</h3>
        </div>
    </li>
    <li class="card">
        <div class="view front-view" id="text">
            <ion-icon name="help-outline"></ion-icon>
        </div>
        <div class="view back-view">
            <img src="../images/animals/cat-85.png" alt="cardimg">
        </div>
    </li>
    <li class="card">
        <div class="view front-view" id="text">
            <ion-icon name="help-outline"></ion-icon>
        </div>
        <div class="view back-view" id="text">
            <h3>CAT</h3>
        </div>
    </li>
    <li class="card">
        <div class="view front-view" id="text">
            <ion-icon name="help-outline"></ion-icon>
        </div>
        <div class="view back-view">
            <img src="../images/animals/cat-85.png" alt="cardimg">
        </div>
    </li>
    <li class="card">
        <div class="view front-view" id="text">
            <ion-icon name="help-outline"></ion-icon>
        </div>
        <div class="view back-view" id="text">
            <h3>CAT</h3>
        </div>
    </li>
    <li class="card">
        <div class="view front-view" id="text">
            <ion-icon name="help-outline"></ion-icon>
        </div>
        <div class="view back-view">
            <img src="../images/animals/cat-85.png" alt="cardimg">
        </div>
    </li>
    <li class="card">
        <div class="view front-view" id="text">
            <ion-icon name="help-outline"></ion-icon>
        </div>
        <div class="view back-view" id="text">
            <h3>CAT</h3>
        </div>
    </li>
    <li class="card">
        <div class="view front-view" id="text">
            <ion-icon name="help-outline"></ion-icon>
        </div>
        <div class="view back-view">
            <img src="../images/animals/cat-85.png" alt="cardimg">
        </div>
    </li>
    
</ul>

</div>