<form action="/games/guessWord" method="post" >


<div class="wordle">
    <label for="wordle">wordle</label>
    <input type="text" name="wordle" id="wordle" maxlength="5">
</div>

    <div class="article-save-btn">
<button type="submit" id="article-btn">save</button>
</div>
</form>



