
<ul>
    <li ><a href="/games/guessWord">guessWord</a></li>
    <li ><a href="/games/wordGuess">Wordguess</a></li>
    <li ><a href="/games/animals">animals</a></li>
    <li ><a href="/games/sort">sort</a></li>
</ul>
