<div class="game-container">
    <div class="game-info">
        <div class="game-title">
            Sort Game
        </div>
        <div class="game-instructions">
            Place in Order
        </div>
        <button class="check-btn" id="check">Check</button>
    </div>
    <div class="game-board">
        <ul class="draggable-list" id="draggable-list">
           
        </ul>
    </div>
</div>

<script src="../js/sort.js"></script>